@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;500;700&display=swap');

body {
    background-color: #212529;
    height: 100vh;
}

h1 {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 6em;
}

p {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 3em;
}

.container {
    text-align: center;
}

.top-buffer {
    margin-top: 50px;
}

#particles-js {
    height: 100%;
    width: 100%;
}